
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{%url 'blog:search'%}" method="post">
    {% csrf_token %}
    <input type="text" name="search_query">
    <button type="submit">Search</button>
</form>

{% if posts %}
<ul>
   {% for post in posts %}
   <li>
    <a href="{{post.get_absolute_url}}">{{post.title}}</a>
   </li>
{% endfor %} 
</ul>

{% else %}
<p>Not result</p>
 {% endif %}
</body>
</html>


