{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{%static 'css/post-detail.css'%}">
<link rel="stylesheet" href="{%static 'css/index.css'%}">
<link rel="stylesheet" href="{%static 'css/post.css'%}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<script src="https://kit.fontawesome.com/684898bb5f.js" crossorigin="anonymous"></script>
{% endblock css %}


{% block content %}
<section id='summary'>
 <form action="{% url 'users:profile' user.pk%}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
         <input class="btn btn-info btn-block" type="submit" value="Update">
    </form>
</section>    
{% endblock content %}